<div class="row">
    <div class="col-lg-4">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">who added this</h5>
            <h4 class="card-title">BU title post </h4>
            <div class="dropdown">
              <button type="button" class="btn btn-sm btn-round btn-outline-default dropdown-toggle btn-simple btn-icon no-caret" data-toggle="dropdown">
                <i class="now-ui-icons loader_gear"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <a class="dropdown-item text-danger" href="#">Remove Data</a>
              </div>
            </div>
          </div>
          <div class="card-body">
            Something
          </div>
          <div class="card-footer">
            <div class="stats small">
              <div>
                <i class="now-ui-icons travel_info"></i>created:2012-21-12 
              </div>
              <div class=""><i class="now-ui-icons travel_info"></i>updated:2012-21-21</div>
            </div>
          </div>
        </div>
    </div>
</div>