<footer class="footer">
  <div class=" container-fluid ">
    <nav>
      <ul>
        <li>
          <a href="https://www.creative-tim.com">
            Yo'riqnoma
          </a>
        </li>
        <li>
          <a href="http://presentation.creative-tim.com">
            Biz haqimizda
          </a>
        </li>
        <li>
          <a href="/admin/">
            Foydalanish shartlari
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright" id="copyright">
      &copy; <script>
        document.write(new Date().now())
      </script>,Barcha huquqlar himoyalangan <a href="https://www.invisionapp.com" target="_blank">{{config.firmname}}</a>  |  Coded by <a href="https://www.creative-tim.com" target="_blank">Creator</a>.
    </div>
  </div>
</footer>